:root {
  --green: #004e00;
  --black: #111;
  --white: #fff;

  --fs-m: 16px;
  --fs-l: 20px;
  --fs-xl: 24px;
  --fs-xxl: 32px;
}

body {
  font-family: monospace;
  background-color: var(--green);
}
